// 1 - BASICS
@import '1-basic/_basic'

// 2 - VIEW
@import '2-view/_view'

// 3 - APP
@import '3-card/_card'

// 4 - FOOTER
@import '4-footer/_footer'

// 5 - PARTICLES
@import '5-tabs/_tabs'

// 6 - LAST
@import '6-header/_header'

// 7 - SEARCH
@import '7-search/_search'

// 8 - MEDIA
@import '8-media/_media'
