.header
	display: block
	position: relative
	z-index: 50
	box-shadow: 0 1px 1px rgba(76, 76, 76, .75)
	margin: 1px 0
	&__logo
		padding: 17px 30px 14px 30px
		position: inherit
		left: 0
		display: inline-block
	&__button
		position: absolute
		right: 60px
		top: 12px
		display: inline-block
		& a
			padding: 6.35px 29px
			display: block
			color: white
			background: #f3781e
			border-radius: 20px
			font-size: 13px
			font-weight: bold
			line-height: 1.846
			text-align: center
			text-decoration: none

