.vueApp
	position: relative
	margin: 0 auto
	clear: both
	&__left
		float: left
		width: 49.5vw
		height: 95.5vh
		overflow: auto
		box-shadow: 0px 5px 27.2px 4.8px rgba(70, 72, 74, 0.12)
		&::-webkit-scrollbar
			width: 8px
		&::-webkit-scrollbar-track
			-webkit-box-shadow: inset 0 0 6px white
		&::-webkit-scrollbar-thumb
			background-color: #e4e6e8
			border-radius: 13px
	&__right
		float: right
		width: 49.1vw
		height: 95.5vh
		overflow: auto
		&::-webkit-scrollbar
			width: 8px
		&::-webkit-scrollbar-track
			-webkit-box-shadow: inset 0 0 6px white
		&::-webkit-scrollbar-thumb
			background-color: #e4e6e8
			border-radius: 13px

